<mat-grid-list *ngIf="module.serial" cols="8" rowHeight="1:1" gutterSize="10px">

  <mat-grid-tile colspan="3" rowspan="4">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title class="text-center">Growth Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1 class="text-center">{{module.GrowthTime()}}<span>days</span></h1>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="5" rowspan="3">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>For now...</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{module.status.alert ? module.status.alert : 'Everythig look fine.'}}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="5">
    <mat-chip-list>
      <mat-chip [color]="module.status.pump ? 'primary' : 'accent'" selected>Pump</mat-chip>
      <mat-chip [color]="module.status.bulb ? 'primary' : 'accent'" selected>Light</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <mat-card class="mat-elevation-z0 sensor-container">
      <mat-card-header>
        <div [ngSwitch]="semaphore.air_temperature" mat-card-avatar>
          <mat-icon *ngSwitchCase="'red'" [style.color]="'red'">error</mat-icon>
          <mat-icon *ngSwitchCase="'yellow'" [style.color]="'yellow'">warning</mat-icon>
          <mat-icon *ngSwitchCase="'green'" [style.color]="'green'">check</mat-icon>
        </div>
        <mat-card-title>
            Air Temperature
        </mat-card-title>
        <mat-card-subtitle>~{{ module.configs.air_temperature | number:'1.0-1' }}ºC</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="text-center">{{ module.status.air_temperature | number:'1.0-1' }}ºC</h1>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <mat-card class="mat-elevation-z0 sensor-container">
      <mat-card-header>
          <div [ngSwitch]="semaphore.water_temperature" mat-card-avatar>
              <mat-icon *ngSwitchCase="'red'" [style.color]="'red'">error</mat-icon>
              <mat-icon *ngSwitchCase="'yellow'" [style.color]="'yellow'">warning</mat-icon>
              <mat-icon *ngSwitchCase="'green'" [style.color]="'green'">check</mat-icon>
            </div>
        <mat-card-title>Water Temperature</mat-card-title>
        <mat-card-subtitle>~{{ module.configs.water_temperature | number:'1.0-1' }}ºC</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="text-center">{{ module.status.water_temperature | number:'1.0-1' }}ºC</h1>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <mat-card class="mat-elevation-z0 sensor-container">
      <mat-card-header>
          <div [ngSwitch]="semaphore.humidity" mat-card-avatar>
              <mat-icon *ngSwitchCase="'red'" [style.color]="'red'">error</mat-icon>
              <mat-icon *ngSwitchCase="'yellow'" [style.color]="'yellow'">warning</mat-icon>
              <mat-icon *ngSwitchCase="'green'" [style.color]="'green'">check</mat-icon>
            </div>
        <mat-card-title>Humidity</mat-card-title>
        <mat-card-subtitle>~{{ module.configs.humidity | number:'1.0-1' }}%</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="text-center">{{ module.status.humidity | number:'1.0-1' }}%</h1>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="4">
    <mat-card class="mat-elevation-z0 sensor-container">
      <mat-card-header>
          <div [ngSwitch]="semaphore.ph" mat-card-avatar>
              <mat-icon *ngSwitchCase="'red'" [style.color]="'red'">error</mat-icon>
              <mat-icon *ngSwitchCase="'yellow'" [style.color]="'yellow'">warning</mat-icon>
              <mat-icon *ngSwitchCase="'green'" [style.color]="'green'">check</mat-icon>
            </div>
        <mat-card-title>pH</mat-card-title>
        <mat-card-subtitle>~{{ module.configs.ph | number:'1.0-1' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="text-center">{{ module.status.ph | number:'1.0-1' }}</h1>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
