<mat-grid-list *ngIf="module.serial" cols="6" rowHeight="1:1" gutterSize="10px">

  <mat-grid-tile colspan="2" rowspan="3">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title class="text-center">Growth Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1 class="text-center">{{module.GrowthTime()}}<span>days</span></h1>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="2">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>For now...</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{module.status.alert ? module.status.alert : 'Everythig look fine.'}}
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="4">
      <p matBadge="4" matBadgeOverlap="false" color="primary">Light</p>
      <p matBadge="4" matBadgeOverlap="false" color="primary">Light</p>
    <mat-chip-list>
      <p matBadge="4" matBadgeOverlap="false" color="primary">Light</p>
      <mat-chip [color]="module.status.pump ? 'primary' : 'accent'" selected>Pump</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="3">
    <mat-card class="mat-elevation-z0 sensor-container">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon svgIcon="temperature"></mat-icon>
        </div>
        <mat-card-title>Air Temperature</mat-card-title>
        <mat-card-subtitle>~{{ module.configs.air_temperature | number:'1.0-1' }}ºC</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="text-center">{{ module.status.air_temperature | number:'1.0-1' }}ºC</h1>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="3">
    <mat-card class="mat-elevation-z0 sensor-container">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon svgIcon="temperature" color="accent"></mat-icon>
        </div>
        <mat-card-title>Water Temperature</mat-card-title>
        <mat-card-subtitle>~{{ module.configs.water_temperature | number:'1.0-1' }}ºC</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="text-center">{{ module.status.water_temperature | number:'1.0-1' }}ºC</h1>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="3">
    <mat-card class="mat-elevation-z0 sensor-container">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon svgIcon="water" [style.color]="'blue'"></mat-icon>
        </div>
        <mat-card-title>Humidity</mat-card-title>
        <mat-card-subtitle>~{{ module.configs.humidity | number:'1.0-1' }}%</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="text-center">{{ module.status.humidity | number:'1.0-1' }}ºC</h1>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="3">
    <mat-card class="mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>pH {{ module.status.ph | number:'1.0-1' }}</mat-card-title>
        <mat-card-subtitle>~{{ module.configs.ph | number:'1.0-1' }}</mat-card-subtitle>
        <mat-card-title>eC {{ module.status.ec | number:'1.0-1' }}</mat-card-title>
        <mat-card-subtitle>~{{ module.configs.ec | number:'1.0-1' }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
