.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-stroked-button {
      border-radius: 17px;
    }
  }

  .mat-form-field {
    .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-form-field-underline {
        position: initial !important;
        display: block;
        margin-top: -1px;
      }

      .mat-form-field-subscript-wrapper,
      .mat-form-field-ripple {
        position: initial !important;
        display: table;
      }

      .mat-form-field-subscript-wrapper {
        min-height: calc(1em + 1px);
      }
    }
  }
}
