mat-toolbar {
  background: transparent !important;
}

mat-list {
  width: 80%;
  margin: auto;
}

mat-list-item {
  margin-top: 5px;
  border-left: 2px solid gray;
  background-color: rgba(0, 0, 0, 0.07);
}

.header-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.transparent {
  opacity: 0.5;
}

.incomplete {
  border-left: 2px solid red;
}

.complete {
  border-left: 2px solid green;
}
